<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:replace="fragments :: application_title"></title>
</head>
<body>
<nav th:replace="fragments :: navigation_bar"></nav>

<h1 th:text="${title}">Application Title</h1>

<form th:action="@{/search/results}" th:object="${searchForm}">
    <h2>Search by:</h2>

    <div class="form-group">
        <label th:for="keyword">Search For:</label>
        <input class="form-control" th:field="*{keyword}" />
        <select>
            <option th:each="type : *{types}" th:value="${type}" th:text="${type.name}"></option>
        </select>
    </div>
    <br>
    <input type="submit" value="Search" />
</form>
</body>
</html>