<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:replace="fragments :: application_title"></title>
</head>
<body>
<nav th:replace="fragments :: navigation_bar"></nav>

<h1 th:text="${title}" class="pagetitle">Title</h1>

<form th:object="${carrier}" method="post">
    <div class="form-group">
        <label th:for="name">Carrier Name:</label>
        <input th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>
    <div>
        <label th:for="addressEmailGeneral">General Company Email Address:</label>
        <input th:field="*{addressEmailGeneral}"/>
        <span th:errors="*{addressEmailGeneral}" class="error"></span>
    </div>
    <div>
        <label th:for="addressEmailPattern">Company Email Pattern:</label>
        <input th:field="*{addressEmailPattern}"/>
        <span th:errors="*{addressEmailPattern}" class="error"></span>
    </div>
    <div>
        <label th:for="phoneNumber">Company Phone Numbers:</label>
        <input th:field="*{phoneNumber}"/>
        <span th:errors="*{phoneNumber}" class="error"></span>
    </div>
    <div>
        <label th:for="claimNumber">Company Claim Numbers:</label>
        <input th:field="*{claimNumber}"/>
        <span th:errors="*{claimNumber}" class="error"></span>
    </div>
    <div>
        <label th:for="policyNumber">Company Policy Numbers:</label>
        <input th:field="*{policyNumber}"/>
        <span th:errors="*{policyNumber}" class="error"></span>
    </div>
    <div>
        <label th:for="memberOfHub">Is the Company a Member of E-Subro HUB?</label>
        <input th:field="*{memberOfHub}"/>
        <span th:errors="*{memberOfHub}" class="error"></span>
    </div>
    <div>
        <label th:for="memberOfArb">Is the Company a Member of Arbitration?</label>
        <input th:field="*{memberOfArb}"/>
        <span th:errors="*{memberOfArb}" class="error"></span>
    </div>
    <div>
        <label th:for="navigatorId">Company Navigator ID Number:</label>
        <input th:field="*{navigatorId}"/>
        <span th:errors="*{navigatorId}" class="error"></span>
    </div>

    <input type="submit" value="Add a New Carrier"/>
</form>
</body>
</html>