<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:replace="fragements :: application_title"></title>
</head>
<body>
<nav th:replace="fragments :: navigation_bar"></nav>

<h1 th:text="${title}">Title</h1>

<form th:object="${carrier}" method="post">
    <div class="form-group">
        <label th:for="name">Carrier Name</label>
        <input th:field="*{name}"/>
        <span th:errors="*{name}" class="error"></span>
    </div>

    <input type="submit" value="Add a New Carrier"/>

</form>





</body>
</html>