<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:replace="fragements :: application_title"></title>
</head>
<body>
<nav th:replace="fragments :: navigation_bar"></nav>

<h1 th:text="${title}">Title</h1>

<form method="post">
    <input type="hidden" name="carrierId"/>
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${name}"></td>
            <td>Addresses:</td>

        </tr>

    </table>

</form>
</body>
</html>