<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org/">
<link rel="stylesheet" type="text/css" href="/css/style.css" th:href="@{/css/style.css}"/>
<head th:replace="fragments :: head">
    <meta charset="UTF-8"/>
    <title th:replace="fragements :: application_title"></title>
</head>
<body>
<nav th:replace="fragments :: navigation_bar"></nav>

<h1 th:text="${title}" class="pagetitle">Title</h1>

<form method="post">
    <div th:each="carrier : ${carriers}" class="checkbox">
        <input type="checkbox" name="carrierIds" th:value="${carrier.id}" th:id="${carrier.id}"/>
        <label th:for="${carrier.id}" th:text="${carrier.name}"></label>
        <br/>
    </div>

    <input type="submit" value="Remove the selected Carriers"/>
</form>
</body>
</html>